/*==========================================================================*/
/*                     H O V E R    &    P C    O N L Y                     */
/*==========================================================================*/
@media screen and (min-width: 1921px) {
  .to-top {
    right: calc(50% - 960px + 20px);
  }
}
/* END screen-min:1921px */
@media screen and (min-width: 751px) {
  #lightboxOverlay,
  #lightbox {
    min-width: var(--content-width) !important;
    width: 100% !important;
  }
  .sp {
    display: none !important;
  }
  a:hover {
    text-decoration: none;
  }
  .to-top a:hover {
    opacity: 0.7;
  }
  .menu-hd-list {
    display: flex;
    align-items: center;
  }
  .menu-hd-list > li {
    font-size: 18px;
    font-weight: 600;
    position: relative;
  }
  .menu-hd-list > li > a {
    font-size: 18px;
    font-weight: 600;
    color: var(--body-color);
    height: 100%;
    text-decoration: none;
    position: relative;
  }
  .menu-hd-list > li > a:hover {
    color: var(--color-primary);
  }
  .menu-hd-list > li:hover {
    color: var(--color-primary);
  }
  .menu-hd-list > li:hover::before {
    border-color: var(--color-primary);
  }
  .menu-hd-list > li:not(:last-child) {
    --min-value: 30;
    --max-value: 50;
    --min-v: 1560;
    --max-v: 1920;
    --value: max(min(calc((var(--max-value) - var(--min-value)) * ((100vw - var(--min-v) * 1px) / (var(--max-v) - var(--min-v))) + calc(var(--min-value) * 1px)), calc(var(--max-value) * 1px)), calc(var(--min-value) * 1px));
    margin-right: var(--value);
  }
  .menu-hd-list .has-sub {
    padding-bottom: 20px;
    margin-top: 20px;
  }
  .menu-hd-list .sub {
    width: 280px;
    text-align: center;
    background: var(--color-primary);
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 15px);
    pointer-events: none;
    top: 40px;
    transition: all 0.3s ease;
    visibility: hidden;
    opacity: 0;
  }
  .menu-hd-list .sub a {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    padding: 15px 10px;
    color: #fff;
    text-decoration: none;
  }
  .menu-hd-list .sub li {
    position: relative;
  }
  .menu-hd-list .sub li:not(:last-child) {
    border-bottom: 1px solid #fff;
  }
  .menu-hd {
    margin-left: auto;
  }
  .menu-hd .has-sub:hover .sub {
    transform: translate(-50%, 0);
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
  }
  .menu-hd .sub > li {
    transition: all 0.2s;
  }
  .menu-hd .sub > li:hover {
    opacity: 0.8;
  }
  .sticky-sidebar .sticky-it:hover {
    transform: translateX(0);
  }
}
/* END screen-min:751px */
/* END screen-min:751px && screen-max:1919px */
/* END screen-min:751px && screen-max:1650px */
/* END screen-min:751px && screen-max:1440px */
/*==========================================================================*/
/*                        M O B I L E    D E V I C E                        */
/*==========================================================================*/
@media screen and (min-width: 1px) and (max-width: 750px) {
  #wrapper {
    min-width: unset !important;
  }
  .pc {
    display: none !important;
  }
  * {
    column-gap: none !important;
    row-gap: none !important;
  }
  .to-top {
    bottom: 100px;
  }
  .to-top > a {
    width: 50px;
    height: 50px;
  }
  .to-top > a::before {
    inset: 4px 0 0;
    margin: auto;
    width: 10px;
    height: 10px;
  }
  .sp320,
  .sp375,
  .sp425 {
    display: block;
  }
  header {
    height: 60px;
  }
  body.open-nav {
    overflow: hidden;
  }
  body.open-nav .iHeader--menu {
    left: 0;
  }
  .iHeader {
    padding: 10px 10px;
  }
  .iHeader--hamburger {
    display: block;
  }
  .iHeader--logo img {
    height: 40px;
  }
  .iHeader--menu {
    position: fixed;
    top: 60px;
    left: -100%;
    width: 100%;
    height: calc(100% - 60px);
    background-color: #000001;
    z-index: 100;
    border-top: 1px solid #fff;
    transition: all 0.3s ease-in-out;
  }
  .iHeader--menu ul {
    flex-direction: column;
    width: 100%;
  }
  .iHeader--menu ul li a {
    font-size: 34px;
  }
  main {
    margin-top: 60px;
  }
  .iMainvisual {
    height: auto;
    min-height: calc(100vh - 60px);
  }
  .iMainvisual--main {
    transform: translateY(-50%);
    width: 100%;
    left: 0%;
    top: 50%;
    flex-direction: column;
    gap: 20px;
    padding: 50px 10px;
  }
  .iMainvisual--img {
    width: 62.5vw;
  }
  .iMainvisual--content {
    font-size: 3.75vw;
    width: 100%;
    left: 0;
  }
  .iMainvisual--content h6 {
    margin-bottom: 30px;
  }
  .iMainvisual--content a {
    padding: 10px 16px;
    font-size: 15px;
  }
  .iList {
    padding: 40px 10px;
  }
  .iList--title {
    text-align: center;
    margin-bottom: 16px;
  }
  .iList--main {
    width: calc(100% + 10px);
    flex-wrap: wrap;
  }
  .iList--main.async {
    flex-wrap: wrap;
    --gap: 10px;
  }
  .iList--main li {
    width: calc(50% - var(--gap));
  }
  .iFooter {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
  }
  .iFooter--link {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 0px;
    margin-top: 30px;
    order: 2;
  }
  .iFooter--link li {
    text-align: center;
  }
}
/* END min-width:1px && screen-max:750px */
@media screen and (min-width: 375px) and (max-width: 750px) {
  .sp320 {
    display: none;
  }
}
/* END min-width:375px && screen-max:750px */
@media screen and (min-width: 425px) and (max-width: 750px) {
  .sp375 {
    display: none;
  }
}
/* END min-width:425px && screen-max:750px */
@media screen and (min-width: 475px) and (max-width: 750px) {
  .sp425 {
    display: none;
  }
}
/* END min-width:475px && screen-max:750px */
/* END min-width:525px && screen-max:750px */
/*==========================================================================*/
/*                 F O R   S P E C I F I E D   B R O W S E R                */
/*==========================================================================*/
/* EDGE  */
/* FIREFOX */
@-moz-document url-prefix() {}
/* Safari 10.1+ (which is the latest version of Safari at this time) */
@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */
}
/*==========================================================================*/
/*                             E N D   A L L                                */
/*==========================================================================*/

/*# sourceMappingURL=responsive.css.map */
