/*==========================================================================*/
/*                        M O B I L E    D E V I C E                        */
/*==========================================================================*/

@media screen and (min-width: 1px) and (max-width: 750px) {
	#wrapper {
		min-width: unset !important;
	}

	.pc {
		display: none !important;
	}

	* {
		column-gap: none !important;
		row-gap: none !important;
	}

	.to-top {
		bottom: 100px;

		> a {
			@include size(50px);

			&::before {
				inset: 4px 0 0;
				margin: auto;
				@include size(10px);
			}
		}
	}

	.sp320,
	.sp375,
	.sp425 {
		display: block;
	}
	header {
		height: 60px;
	}

	body {
		&.open-nav {
			overflow: hidden;
			.iHeader--menu {
				left: 0;
			}
		}
	}
	.iHeader {
		padding: 10px 10px;
		&--hamburger {
			display: block;
		}
		&--logo {
			img {
				height: 40px;
			}
		}
		&--menu {
			position: fixed;
			top: 60px;
			left: -100%;
			width: 100%;
			height: calc(100% - 60px);
			background-color: #000001;
			z-index: 100;
			border-top: 1px solid #fff;
			transition: all 0.3s ease-in-out;
			ul {
				flex-direction: column;
				width: 100%;
				li {
					a {
						font-size: 34px;
					}
				}
			}
		}
	}

	main {
		margin-top: 60px;
	}

	.iMainvisual {
		height: auto;
		min-height: calc(100vh - 60px);
		&--main {
			transform: translateY(-50%);
			width: 100%;
			left: 0%;
			top: 50%;
			flex-direction: column;
			gap: 20px;
			padding: 50px 10px;
		}
		&--img {
			width: calc(200px / 320px * 100vw);
		}
		&--content {
			font-size: calc(12px / 320px * 100vw);
			width: 100%;
			left: 0;
			h6 {
				margin-bottom: 30px;
			}
			a {
				padding: 10px 16px;
				font-size: 15px;
			}
		}
	}

	.iList {
		padding: 40px 10px;
		&--title {
			text-align: center;
			margin-bottom: 16px;
		}
		&--main {
			width: calc(100% + 10px);
			flex-wrap: wrap;

			&.async {
				flex-wrap: wrap;
				--gap: 10px;
			}
			li {
				width: calc(100% / 2 - var(--gap));
			}
		}
	}

	.iFooter {
		padding: 40px 0;
		display: flex;
		flex-direction: column;
		&--link {
			flex-direction: column;
			gap: 10px;
			margin-bottom: 0px;
			margin-top: 30px;
			order: 2;
			li {
				text-align: center;
			}
		}
	}

	//END STICKY FOOTER
}

/* END min-width:1px && screen-max:750px */

@media screen and (min-width: 375px) and (max-width: 750px) {
	.sp320 {
		display: none;
	}
}

/* END min-width:375px && screen-max:750px */

@media screen and (min-width: 425px) and (max-width: 750px) {
	.sp375 {
		display: none;
	}
}

/* END min-width:425px && screen-max:750px */

@media screen and (min-width: 475px) and (max-width: 750px) {
	.sp425 {
		display: none;
	}
}

/* END min-width:475px && screen-max:750px */

@media screen and (min-width: 525px) and (max-width: 750px) {
}

/* END min-width:525px && screen-max:750px */

/*==========================================================================*/
/*                 F O R   S P E C I F I E D   B R O W S E R                */
/*==========================================================================*/

/* EDGE  */
@supports (-ms-ime-align: auto) {
}

/* FIREFOX */
@-moz-document url-prefix() {
}

/* Safari 10.1+ (which is the latest version of Safari at this time) */
@media not all and (min-resolution: 0.001dpcm) {
}

@supports (-webkit-touch-callout: none) {
	/* CSS specific to iOS devices */
}

/*==========================================================================*/
/*                             E N D   A L L                                */
/*==========================================================================*/
